*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    /* overflow: hidden; */
}

/* Begin header */
.header-top {
    background-color: #333742;
    display: flex;
    justify-content: space-between;
    height: 45px;
    padding: 0 5px;
}
.header-top ul li {
    display: inline-block;
}

.header-top ul li a {
    color: #fff;
    text-decoration: none;
    line-height: 45px;
    padding: 0 10px;
    
}

.header-social {
    font-size: 18px;
}

.header-social ul li:hover i {
    color: #cccc;
    transition: all 300ms linear;
}

.hearder-info ul li:hover a {
    color: #cf2929;
    transition: all 300ms linear;
}

.header-nav {
    padding: 26px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 0 20px 0 rgb(0 0 0 / 10%);
}

.nav-menu ul li {
    display: inline-block;
    text-transform: uppercase;
    padding: 16px;    
}

.nav-menu ul li a {
    color: black;
    text-decoration: none;
    font-weight: 700;
    line-height: 26px;
    padding-bottom: 4px;
}
.nav-menu ul li .menu--atived {
    color: #cf2929;
    border-bottom: 2px solid #cf2929;
}

.nav-menu ul li:hover a {
    color: #cf2929;
    border-bottom: 2px solid #cf2929;
}

.nav-contact {
    display: flex;
    align-items: center;
}

.nav-contact__info--mobi {
    font-size: 20px;
    color: #cf2929;
    font-style: italic;
    font-weight: 600;
}

.nav-contact__info {
    padding-left: 12px;
}

.nav-contact__info p:not(:last-child) {
    color: #5e5959cc;
}
.nav-searchcart ul li {
    font-size: 24px;
    padding-left: 14px;
    display: inline-block;
}
.nav-searchcart ul li a {
    color: black;
    text-decoration: none;
}
.nav-searchcart ul li span {
    padding-left: 8px;
}
.nav-searchcart ul li:hover a{
    color: #cf2929;
    transition: all 200ms linear;
}
.nav-searchcart span{
    font-size: 16px;
    font-weight: 600;
}
/* End header */

.container {
    padding: 0px 15px;
}

.slider {
    position: relative;;
}
.slider img{
    width: 100%;
}

.slider-content {
    position: absolute;
    color: white;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
}
.slider-content h4 {
    font-size: 2.137989vw;
    color: #cf2929;
    padding-bottom: 4px;
}

.slider-content p {
    font-size: 4.1688379364vw;
    padding-bottom: 4px;
}

.slider-content button {
    background-color: #cf2929;
    border: none;
    padding: 0.91vw 2.1vw;
    font-weight: 600;
    color: white;
    border-radius: 1.763314vw;
    margin-top: 1.8vw;
    font-size: 0.9vw;
}
.slider-content button:hover {
    color: black;
    background-color: white;
    transition: all 400ms linear;
}

.advertising {
    margin-top: 40px;
}
.advertising__box2 img,
.advertising__box1 img {
    width:100%;
    transition: all 300ms linear;
}

.advertising__box--hover {
    overflow: hidden;
}

.advertising__box--hover:hover img{
    transform: scale(1.05) rotate(0.05deg);
}


.row {
    display: flex;
    gap: 24px;
    margin-bottom: 20px;
}
.col-8 {
    width: 66.66665%;
}

.col-4 {
    width: 32.33332%;
}

.ourproduct {
    margin-top: 60px;
}
.ourproduct-title {
    text-align: center;
    margin-bottom: 40px;
    position: relative;
} 
.latestblog h2,
.ourproduct-title h2 {
    font-size: 38px;
    font-weight: 400;
    padding-bottom: 18px;
    border-bottom: 2px solid #cccc;
    max-width: 248px;
    margin: 0 auto;
    font-family: 'Lobster Two', cursive;
}

.ourproduct-thumb {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap:40px;
}

.latestblog-img,
.ourproduct-title-img {
    width: 36px;
    height: 20px;
    position: absolute;
    bottom: -7px;
    background-color: white;
    padding: 0px 6px;
    left: 50%;
    transform: translateX(-50%);
}


.ourproduct-thumb--1 > p {
    color: #cf2929;
}
.ourproduct-thumb p {
    font-weight: 600;
    padding-top: 10px;
}
.ourproduct-thumb--3:hover p,
.ourproduct-thumb--2:hover p{
    color: #cf2929;
    cursor: pointer;
    transition: all 300ms linear;
}

.row-item {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-evenly;
}

.col-3 {
    width: 24%;
}

.col-3 img {
    width: 100%;
}
.ourproduct-item {
    margin: 50px 0px;
}
.ourproduct-item__detail {
    padding: 15px;
    border: 1px solid #cccc;
    position: relative;
    overflow: hidden;
}

.ourproduct-item__star {
    color: #fdd835;
}

.ourproduct-item__name {
    font-size: 14px;
    margin: 10px 0;
}
.ourproduct-item__name a {
    text-decoration: none;
    color: black;
}
.ourproduct-item__info {
    color: #939393;
    font-size: 13px;
    line-height: 20px;
    padding-bottom: 10px;
}

.ourproduct-item__cart {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ourproduct-item__cart-price--old {
    color: #a9a9a9;
    font-weight: 400;
    text-decoration: line-through;
    margin-right: 2px;
    font-size: 16px;
    font-style: italic;
}

.ourproduct-item__cart-price--new {
    color: #cf2929;
    font-weight: 700;
    margin-right: 2px;
    font-size: 18px;
}

.ourproduct-item__cart-shopping i {
    font-size: 20px;
    border-radius: 50%;
    padding: 8px 10px;
    background-color: #fee119;
    color: #333742;
    transition: all 300ms linear;
}

.ourproduct-item__cart-shopping i:hover {
    background-color: #cf2929;
    color: white;
}

.ourproduct-item__detail:hover {
    border-color: #cf2929;
    transition: all 300ms linear;
}
.ourproduct-item__detail:hover img {
    transform: rotate(10deg);
}
.ourproduct-item__detail img {
    transition: all 300ms linear;
}

.ourproduct-item__detail--label{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 14px;
    left: 14px;
    right: 14px;
}

.ourproduct-item__detail--label span {
    background-color: #cf2929;
    color: white;
    border-radius: 4px;
    font-size: 12px;
    padding: 3px 6px;
    font-weight: 400;
}

.workinghouse {
    background-color: #a62b24;
    color: white;
    padding: 70px 95px;
}

.workinghouse-title {
    font-size: 40px;
    margin-bottom: 40px;
}

.workinghouse-info {
    color: #ffffffb3;
    max-width: 550px;
}

.latestblog {
    margin: 60px 0;
}
.latestblog h2 {
    text-align: center;
}
.latestblog-tile {
    position: relative;
    margin-bottom: 40px;
}

.latestblog-item__box {
    overflow: hidden;
}
.latestblog-item img {
    width: 100%;
    transition: all 300ms linear;
}

.latestblog-item img:hover {
    transform: scale(1.05) rotate(0.05deg);
}

.latestblog-item__type p {
    font-size: 12px;
    text-transform: uppercase;
    color: #707070;
    margin-bottom: 20px;
    margin-top: 20px;
    letter-spacing: .1em;
}
.latestblog-item__title p {
    font-size: 18px;
    line-height: 1;
    color: #253237;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 700;
}

.latestblog-item__btn {
    color: #253237;
    background: #fee119;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px 25px;
    line-height: 20px;
    border-radius: 30px;
    font-weight: 700;
    border: none;
    transition: all 300ms linear;
}

.latestblog-item__btn:hover {
    background-color: #cf2929;
    color: white;
}

.footer {
    background-color: #111111;
    color: white;
    padding: 90px 15px 50px;
}
.footer-box1 h3 {
    padding-bottom: 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
}

.footer-box1 ul li {
    list-style-type: none;
}

.box1-time p,
.footer-box1 ul li a {
    text-decoration: none;
    color: #7a7a7a;
    line-height: 30px;
    text-transform: capitalize;
    transition: all 300ms linear;
}

.footer-box1 ul li:hover a {
    color: #cf2929;
}
.box1-customlinks ul li:hover a,
.box1-info ul li:hover a {
    padding-left: 10px;
}

.box1-newsletter p {
    color: #7a7a7a;
}

.box1-time__social {
    margin-top: 18px;
}
.box1-time__social ul li {
    display: inline;
    padding-right: 10px;
    font-size: 18px;
}

.box1-newsletter input {
    background-color: #111111;
    border: none;
    border-bottom: 1px solid white;
    padding: 8px 0 8px;
    color: white;
    width: 100%;
    font-size: 16px;
}
.box1-newsletter input:focus {
    outline: unset;
}
.box1-newsletter__input {
    position: relative;
}
.box1-newsletter__input--btn {
    position: absolute;
    background-color: #111111;
    color: white;
    border: none;
    right: 0;
    top: 6px;
    font-weight: 700;
    font-size: 16px;
}
.box1-newsletter__input--btn:hover {
    color: #cf2929;
    transition: all 300ms linear;
}
.box1-newsletter p {
    margin-bottom: 20px;
}
.box1-newsletter__input::placeholder {
    color: white;
}

.footer2 {
    text-align: center;
    padding: 40px 0;
    background-color: #111111;
    color: white;
    border-top: 1px solid rgba(116, 116, 116, 0.8);
}



/* Cookies */
.pagination {
    padding: 80px 0;
    text-align: center;
    background-color: #f6f6f6;
    margin: 0 -15px;
}
.pagination h2 {
    padding: 14px 0;
}
.pagination a {
    text-decoration: none;
    color: #cf2929;
}

.cookies {
    padding: 60px 0;
    background-color: #fff;
}

.col-3_1 {
    width: 20%;
}

.col-9 {
    width: 80%;
    display: flex;
}
.row_0 {
    display: flex;
}

.row_1 {
    display: flex;
}

.product-sort {
    display: flex;
    padding: 10px 10px;
    background-color: #f6f6f6;
    margin-bottom: 30px;
    align-items: center;
}

.product-sort p {
    margin-left: auto;
    margin-right: 10px;
}

.product-sort select {
    padding: 4px 12px;
    border-radius: 2px;
}

.sidebar {
    padding-right: 30px ;
}

.sidebar ul li{
    list-style-type: none;
}
.sidebar ul li a {
    text-decoration: none;
    padding: 4px;
    display: block;
    color: #555;
    line-height: 22px;
}
.cookies-size:hover label,
.cookies-price:hover,
.sidebar ul li:hover a {
    color: #cf2929;
}

.sidebar h3 {
    padding: 2px 10px 10px 0;
    border-bottom: 1px solid #cccc;
    margin-bottom: 20px;
}

.sidebar h4 {
    padding: 20px 0px;
}

.cookies-price input {
    margin-right: 10px;
    margin-bottom: 10px;
}
.cookies-price {
    color: #555;
    line-height: 22px;
}

.cookies-size label,
.cookies-size input {
    margin-right: 4px;
    color: #555;
    line-height: 22px;
}
.cookies-size,
.cookies-price {
    cursor: pointer;
}

.cart-detail {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 30px;
}
#input_price {
    width: 60px;
    padding: 8px;
    text-align: center;
}

.continueShopping button {
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    border: none;
    line-height: 25px;
    padding: 5px 20px;
    border-radius: 5px;
    background: #253237;
    margin-top: 20px;
}

.continueShopping a {
    color: #fff;
    text-decoration: none;

}

.cart-detail__info--discount {
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: #fff;
    padding: 4px 10px 6px 10px;
    background: #cf2929;
    vertical-align: 4px;
    border-radius: 0;
    text-transform: capitalize;
}

.cart-detail__info--price {
    padding: 10px 0;
}

.cart-detail__info--price > .ourproduct-item__cart-price--old {
    margin: 0px 10px;
}

.cart-detail {
    border-bottom: 1px solid #cccc;
}
.cart h2{
    margin-bottom: 20px;
}

.del-btn,
.cart-detail__input button {
    padding: 10px;
    background: #253237;
    color: #fff;
    border: none;
}
.cart-detail__input input::-webkit-outer-spin-button,
.cart-detail__input input::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0;
}


.bnt-register:hover,
.bnt-login:hover,
.btn_ctr button:hover,
.continueShopping button:hover,
.del-btn:hover,
.cart-detail__input button:hover {
    background: #cf2929;
    cursor: pointer;
}


.ctn_cart {
    margin-top: 50px;
    margin-bottom: 50px;
}

.invoice {
    border: 1px solid #cccc;
}
.invoice__total,
.invoice__title {
    border-bottom: 1px solid #cccc;
    padding: 12px;
}

.btn_ctr {
    padding: 12px;
}

.btn_ctr button {
    width: 100%;
    padding: 8px;
    text-transform: capitalize;
    font-weight: 400;
    font-size: 14px;
    border: none;
    line-height: 25px;
    padding: 5px 20px;
    border-radius: 5px;
    background: #253237;
    color: #fff;
}

.invoice__total {
    display: flex;
    justify-content: space-between;
}

.invoice__total--price {
    text-align: right;
}

.invoice__total--price h3 {
    margin-bottom: 8px;
}
.invoice__total--price small {
    font-size: 14px;
    opacity: 0.7;
}

.total_price {
    font-size: 16px;
    font-weight: 600;
}

.registerct,
.loginct {
    margin: 30px 0;
}
.register,
.login {
    margin: 0 auto;
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%);
    border-radius: 8px;
    padding: 20px;
    max-width: 420px;
}

.register h2,
.login h2 {
    padding: 12px 0;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
}

.register-form label, 
.login-form label {
    display: block;
    margin-bottom: 10px;
    margin-top: 10px;
    font-size: 15px;
    font-weight: 700;
}
.register-form input,
.login-form input {
    outline: none;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    background: #fafafa;
    padding: 5px 20px;
    width: 100%;
    height: 40px;
}

.cregister {
    padding-top: 20px;
}

.cregister a {
    color: #00addf;
    font-size: 14px;
}
.cregister p {
    padding-top: 10px;
}

.bnt-register,
.bnt-login {
    border: none;
    border-radius: 4px;
    background: #253237;
    width: 100%;
    height: 45px;
    color:  #fff;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
}

.total_price {
    width: 30px;
}


.error {
    border: 1px solid red !important;
}


.success {
    border: 1px solid green !important;
}

.register-form small {
    color: red;
}